<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="section-selection.css">
    <link rel="stylesheet" href="compound-button.css">
    <title>Resume Page</title>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  </head>
  <body>
    <header>
      <h2>Ben Kenawell Resume</h2>
    </header>
    <main>
      <!-- <h3>Job Experience</h3> -->
      <% resume.forEach(function (entry) { %>
        <div class="section" data-category="<%= entry.category %>" _="on click toggle .selected">
          <h4><%= entry.title %></h4>
          <h5><%= entry.organization %></h5>
          <p><%= entry.location %></p>
          <% (entry.description ?? []).forEach(function (desc) { %>
           <p class="description"><%= desc %></p>
          <% }); %>
          <p class="date"><%= entry.start %><%= !!entry.start && !!entry.end ? " - " : "" %><%= entry.end %></p>
        </div>
      <% }); %>
      <% Object.entries(data).forEach(function([key, value]) { %>
        <div style="display: flex; fles-direction: row"><h4><%= key %></h4>
        <%= JSON.stringify(value) %>
        </div>
      <% }); %>
    </main>
    <footer>
      <p>Made with <a href="https://ejs.co">EJS</a> and <a href="https://hyperscript.org/">Hyperscript</a></p>
    </footer>
    
    <div class="compound-button" hidden _="on click from .section if .selected exists remove @hidden else add @hidden">
      <button class="focus-selected" 
        _="-- show/hide the button when selecting exists
           -- on click from .section if .selected exists remove @hidden else add @hidden end
           -- clone then add all sections into #dropdown section
           on click repeat for item in .selected
             call item.cloneNode(true)
             remove .selected from it
             put it at the end of #dropdown then add .show to #dropdown
           end"
      >
        Focus Selected Sections
      </button>
      <button _="on click repeat for item in .selected remove .selected from item then add @hidden to .compound-button">X</button>
    </div>
    <section id="dropdown" _="on click remove .show then wait 1s then remove <div/> from me"></section>
  </body>
</html>
